<head>
	<div class="page-header">
		<h1>
			APP for BP3 Coding Challenge
		</h1>
	</div>
</head>
<body>
	<nav class="navbar navbar-dark bg-inverse">
		<ul class="nav nav-pills">
			<li role="presentation" class="active"><a href="#">Home</a></li>
			<li role="presentaion"><a href="#">Tasks</a></li>
			<li role="presentation"><a href="#">About</a></li>
			<li role="presentation"><%= link_to "Log Out" , destroy_user_session_path, method: :delete %></li>
		</ul>
	</nav> 
</body>
