<div class="container" ng-app="dashboard" ng-controller="DashboardController">
<head>
		<div class="jumbotron" style="margin:0;">
			<h1>
				<b>BP3 Coding Challenge</b>
			</h1>
		</div>
		<nav class="navbar navbar-dark navbar-inverse" style="margin:0;">
			<div class="container" style="padding: 3px;">
				<ul class="nav nav-pills nav-justified">
					<li role="presentation" id="home" ><a ng-click="show('home')" >Home</a></li>
					<li role="presentation" id="task_overview" ><a ng-click="show('task_overview')" >Task Overview</a></li>
					<li role="presentation" id="task_search" ><a ng-click="show('task_search')" >Task Search</a></li>
					<li role="presentation" id="import" ><a ng-click="show('import')" >Import Tasks</a></li>
					<li role="presentation" id="about" ><a ng-click="show('about')" >About</a></li>
					<li role="presentation"><%= link_to "Log Out" , destroy_user_session_path, method: :delete %></li>
				</ul>
			</div>
		</nav>
</head>
<body>
	<div class="container-fluid" ng-view></div> 
</body>
</div>
