<div class="page-header">
	<h1><b>Application Details</b></h1>
</div>
<div class="row">
	<h3 class="media-heading"><b><u>Task Overview</u></b></h3>
	<p>
		Use this page to generate reports displaying counts of open and closed tasks given constraints.<br>
		Options are:
		<ul>
			<li>
				<b><u>System State</u></b><br>
				<p>Given a date, report the state of the system at that point in time.</p>
			</li>
			<li>
				<b><u>Time Span</u></b><br>
				<p>Given a date interval, report the count of tasks open during the interval
						as well as tasks closed during the interval.</p>
			</li>
			<li>
				<b><u>Instance</u></b><br>
				<p>Given an Instance ID, report the count of all tasks currently open and closed
						associated with the instance.</p>
			</li>
			<li>
				<b><u>Assignee</u></b><br>
				<p>Given the name of an assignee, report the count of all tasks currently open and closed
					associated with the assignee.</p>
			</li>
		</ul>
	</p>
	<h3 class="media-heading"><b><u>Task Search</u></b></h3>
	<p>
		Use this page to search for tasks given filters.<br>
		filters are:
		<ul>
			<li>
				<b><u>Search String</u></b><br>
				<p>Type a value associated with the task you are searching for</p>
			</li>
			<li>
				<b><u>Date Intervals</u></b><br>
				<p>Takes one or two dates. If only one date is provided the results are found similarly to the system state report.<br>
					If two dates are given, the search criteria is constrained to the time interval.<br>
					Note that if the task status is not specified, the search will look for tasks that were both opened and closed
					during the interval</p>
			</li>
			<li>
				<b><u>Instance Attributes</u></b><br>
				<p>Allows the use of filters related to the instance. Also allows you to specify the state of the task.<br>
					The state filter only takes "open" or "closed".</p>
			</li>
			<li>
				<b><u>Assignee</u></b><br>
				<p>Takes the name of an assignee, only tasks related to the specified assignee will be found.</p>
			</li>
			<li>
				<b><u>Parent Process</u></b><br>
				<p>Takes the name of a process, only tasks related to that process will be included.</p>
			</li>
		</ul>
	</p>
	<h3 class="media-heading"><b><u>Import Tasks</u></b></h3>
	<p>
		Use this page to import tasks to the database<br>
		Usage:
		<ul>
			<li>
				<b><u>Format</u></b><br>
				<p>Requires an array of JSON task objects, if not formatted correctly it will notify you<br>
					Note: all of the tasks provided by BP3 in task3.json have already been imported. Importing them again will fail on duplicate key entry.
					<br>Didn't implement a delete tasks option, sorry :)<br>
					I will admit, this page is buggy, I could have spent much more time on it but I have many other projects on my plate</p>
			</li>

		</ul>
	</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
