<div class="page-header" style="text-align: center;">
	<h1><b>Import Tasks</b></h1>
</div>
<div class="container container-fluid" ng-controller="ImportController">
	<h3><b>Please note that all data from the provided JSON file has already been imported."
	<div class="form-group">
    		<textarea id="import_data" style="height: 400px; width:600px;" class="form-control" placeholder="Paste JSON formatted data here format: [{task data}]"></textarea>
	</div>
	<button class="btn btn-primary btn-md" style="float: left; margin-left: 50%;" ng-click="upload().then(finish())"><i class="glyphicon glyphicon-upload"></i>&nbsp Upload</button>
</div>
