<div class="page-header" style="text-align: center;">
    <h1><b>Search Tasks</b></h1>
</div>
<div class="container" ng-controller="TaskSearchController">
    <div class="row">
        <div class="col-md-8" id="search-page-wrapper">
            <div class="col-md-6" id="search-field-wrapper_outer">
                <div class="col-md-6" id="search-field-wrapper_inner">
                    <div class="input-group" id="search_bar">
                        <input type="text" class="form-control" placeholder="Search by ID, name, instance ID, instance name, process name, assignee, or status" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-info" ng-click="toggle()"><span class="glyphicon glyphicon-plus">&nbsp;<b>Filters</b></span></button>
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="filter-options">
                <div class="row" id="row1">
                    <div class="filers-title">
                        <h5><b>Date Intervals</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="row-fields">
                        <div class="row-field1">
                            <div class="input-group" id="start-date">
                                <span class="input-group-addon tag" id="basic-addon1"><b>Start Date</b></span>
                                <input type="text" ng-model="date1" class="form-control" id="datepicker1"  placeholder="Select Date" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="row-field2">
                            <div class="input-group" id="end-date">
                                <span class="input-group-addon tag" id="basic-addon2"><b>End Date</b></span>
                                <input type="text" ng-model="date2" class="form-control" id="datepicker2"  placeholder="Select Date" aria-describedby="basic-addon2">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divide">
                <div class="row">
                    <div class="filers-title">
                        <h5><b>Instance Attributes</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="row-fields">
                        <div class="row-field1">
                            <div class="input-group" id="instance-name-group">
                                <span class="input-group-addon tag" id="basic-addon3"><b>Instance Name</b></span>
                                <input type="text" ng-model="instanceName" class="form-control" id="instance-name"  placeholder="Enter Name" aria-describedby="basic-addon3">
                            </div>
                        </div>
                        <div class="row-field2">
                            <div class="input-group" id="instance-id-group">
                                <span class="input-group-addon tag" id="basic-addon4"><b>Instance ID</b></span>
                                <input type="text" ng-model="instanceId" class="form-control" id="instance-id"  placeholder="Enter ID" aria-describedby="basic-addon4">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="name-field">
                        <div class="input-group" id="status-group">
                            <span class="input-group-addon tag" id="basic-addon5"><b>Instance Status</b></span>
                            <input type="text" ng-model="status" class="form-control" id="status"  placeholder="Enter status" aria-describedby="basic-addon5">
                        </div>
                    </div>
                </div>
                <hr class="divide">
                <div class="row">
                    <div class="filers-title">
                        <h5><b>Task Assignee</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="name-field">
                        <div class="input-group" id="assignee-group">
                            <span class="input-group-addon tag" id="basic-addon6"><b>Assignee</b></span>
                            <input type="text" ng-model="assignee" class="form-control" id="assignee"  placeholder="Enter name" aria-describedby="basic-addon6">
                        </div>
                    </div>
                </div>
                <hr class="divide">
                <div class="row">
                    <div class="filers-title">
                        <h5><b>Parent Process</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="name-field">
                        <div class="input-group" id="process-group">
                            <span class="input-group-addon tag" id="basic-addon7"><b>Process Name</b></span>
                            <input type="text" ng-model="process" class="form-control" id="process"  placeholder="Enter name" aria-describedby="basic-addon7">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
